.alert {
  border: .1rem solid transparent;
  padding: 1rem;
  text-align: center;

  &--error {
    border-color: #ac0000;
    background-color: #fbe9e7;
    color: #ac0000;
  }

  &--success {
    border-color: #049632;
    background-color: #d3f9bb;
    color: #049632;
  }
}




#resultado {
  margin-bottom: 40px;
}

#resultado div {
  border: 1px solid #26c6da;
  text-align: center;
  padding: 0 0 20px 0;
}

#resultado div p {
  margin-bottom: 0;
}

#resultado div p.header {
  background-color: #26c6da;
  margin-bottom: 10px;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
